*.autosave
*.asv
*.avi
*.bak
*.mexmaci64
*.mexa64
*.mexw32
*.mexw64
*.rt-win64
*.aux
*.m~
*.blg
*.log
*.auxlock
*.toc
*.synctex.gz
*.out
*.pdf
*.bbl
slprj/
**/slprj/
Report/pgfplots/
MATLAB/._*
*._*
MATLAB/helikopter2_quarc_win64/
MATLAB/helikopter3_quarc_win64/
MATLAB/helikopter4_quarc_win64/
